<h2>My Expenses</h2>
<div class="container">
    <button class="btn btn-success" style="width:100px" (click)="addExpense()"> Add Expense </button><br>
    <button class="btn btn-success" style="width:200px" (click)="downloadList()"> Download List of Expenses </button>
    <div class="row" *ngFor="let expense of expenses | sort:'description':'asc'">
      <div class="col-md-3">
        <ul class="list-group">
          <button class="list-group-item" (click)="onSelectedExpense(expense)"> 
              {{expense.description | uppercase}},
              {{expense.category}},
              {{expense.amountSpent}} PLN </button>
        </ul>
      </div>
    </div>
    
    <div *ngIf="selectedExpense && isClicked">
        <div class="col-md-3">
          <label for="details">Details:</label><br>
          <input type="text" id="details" [(ngModel)]="selectedExpense.details" name="details"><br>
          <button class="btn btn-success" (click)="saveDetails(selectedExpense)" style="margin-left: 20px;">Save</button>
          <button class="btn btn-success" (click)="editExpense(selectedExpense)" style="margin-left: 20px;">Edit</button>
          <button class="btn btn-danger" (click)="deleteExpense(selectedExpense)" style="margin-left: 20px;">Delete</button>
        </div>
    </div>
</div>
